# ignore everything except the specified directories within this doc directory
/*
!/arb_doc
!/content/
!/install/
!/manual/
!/src/
!/misc/

# include any gitignore files in any directories that are already included
!.gitignore
